//Colors
$color-primary: #f02d3a;

$color-grey-dark: #d2d2d2;
$color-grey-dark-2: #b1b1b1;
$color-grey-dark-3: #333;
$color-grey-dark-4: rgb(27, 27, 27);
$color-grey-dark-5: rgb(20, 20, 20);

$color-white: rgb(235, 235, 235);
$color-black: rgb(19, 19, 19);

$background-color-primary: #131616;

//FONT SIZE
$default-font-size: 1.6rem;

//TRANSITIONS
$t-normal: all 0.3s ease;

//FONTS

$primary-font: "Oswald", sans-serif;
$secondary-font: "Merriweather", sans-serif;
$tertiary-font: "Source Code Pro", sans-serif;
