%section-shared {
  height: 85vh;
}

%container-shared {
  width: 60%;
  margin: 5rem auto;
  @media (max-width: 768px) {
    width: 80%;
  }
}

.section-startup {
  @extend %section-shared;

  background: linear-gradient(
    to bottom,
    #111314 0%,
    $background-color-primary 100%
  );
  overflow: hidden;

  &__container {
    @extend %container-shared;

    &--top {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &--middle {
      @include horizontalCenter;
      width: 50%;

      @media (max-width: 768px) {
        width: 80%;
      }
    }
  }
}

.section-experience {
  @extend %section-shared;

  @media (max-width: 1000px) {
    height: 120vh;
  }

  @media (max-width: 768px) {
    height: 60rem;
  }
}

.section-skills {
  &__container {
    @extend %container-shared;
  }
}

.section-projects {
  &__container {
    @extend %container-shared;
  }
}

.section-about {
  &__container {
    @extend %container-shared;

    &--flex {
      display: flex;
    }

    @media (min-width: 768px) {
      &--flex {
        flex-direction: row;
      }

      &--left {
        width: 60%;
      }

      &--right {
        width: 40%;
      }
    }

    @media (max-width: 768px) {
      &--flex {
        flex-direction: column;
      }
      &--left {
        width: 100%;
      }

      &--right {
        margin-top: 3rem;

        width: 100%;
      }
    }
  }
}

.section-contact {
  &__container {
    @extend %container-shared;
    display: flex;
    flex-direction: row;

    &--left {
      width: 35%;
    }

    &--right {
      width: 65%;
    }

    @media (max-width: 768px) {
      display: flex;
      flex-direction: column;

      &--left {
        width: 100%;
      }

      &--right {
        width: 100%;
      }
    }
  }
}
